<a href="https://colab.research.google.com/github/OyinOlamide/Receipt-Sytem/blob/main/Receipt_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **RECEIPTS FOR ZURI THRIFT**

**I intend to build a system that creates receipts for Zuri Thrift, a thrift clothing business, with ease.**

Description for available items

In [1]:
Zara_dress = "Zara, size 8, cold shoulder dinner dress."
Next_top = "Next off shoulder size 10 top."
Primark_gown = "Primark size 5, ruffled print dress"
PLT_dress = "Pretty Little Thing size 12, mini gown"

Prices of available items.

In [3]:
Zara_dress_price = 300
Next_top_price = 250
Primark_gown_price = 350
PLT_dress_price = 300

Tax payable is 7.5%

In [4]:
Tax = .075

# **First Client**

First client is Eseosa, a friend.

In [5]:
Eseosa_order = PLT_dress

In [7]:
Eseosa_total = 300

Eseosa likes and picks up the Primark dress for her friend.

In [8]:
Eseosa_order = PLT_dress, Primark_gown

In [9]:
Eseosa_total += 350

Now we calculate Eseosa's tax so we can know her final total

In [10]:
Eseosa_tax = Eseosa_total * Tax

Eseosa's final total will include her tax.

In [13]:
Eseosa_total += Eseosa_tax

In [19]:
Eseosa_receipt = print("Eseosa_items:")
print(Eseosa_order)

print("Eseosa_final_total:")
print(Eseosa_total)

Eseosa_items:
('Pretty Little Thing size 12, mini gown', 'Primark size 5, ruffled print dress')
Eseosa_final_total:
796.25